APP_NAME="Ejad"
APP_ENV=local
APP_KEY=base64:0zyd0zJiE8N0NkzXDWCvqrBLdLo7Z4iZoF9ExYKu5r4=
APP_DEBUG=true
DEBUGBAR_ENABLED=false
APP_URL=http://ejad.local
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_LOCALE_PHP=en_US
APP_TIMEZONE=UTC
LOG_CHANNEL=daily

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=dece088e1ef952
MAIL_PASSWORD=29a5779aa10fce
MAIL_ENCRYPTION=null

ALGOLIA_APP_ID=N02M6ZG9Q3
ALGOLIA_SECRET=10507f8ebc4e90bdd7826c4f6453fc30
ALGOLIA_SEARCH=32b6ab474f65d442d7ec4242d1ef410d


PUSHER_APP_ID="536523"
PUSHER_APP_KEY="aacacc0492d009aa482e"
PUSHER_APP_SECRET="b7cfc8e5af34773c3819"
PUSHER_APP_CLUSTER="eu"

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

# Access
ENABLE_REGISTRATION=true
CHANGE_EMAIL=false
PASSWORD_HISTORY=3
PASSWORD_EXPIRES_DAYS=30

# This should be one or the other, or neither
REQUIRES_APPROVAL=false
CONFIRM_EMAIL=true
#//

# Get your credentials at: https://www.google.com/recaptcha/admin
REGISTRATION_CAPTCHA_STATUS=false
NOCAPTCHA_SITEKEY=
NOCAPTCHA_SECRET=

# Socialite Providers
FACEBOOK_ACTIVE=false
#FACEBOOK_CLIENT_ID=
#FACEBOOK_CLIENT_SECRET=
#FACEBOOK_REDIRECT=${APP_URL}/login/facebook/callback

BITBUCKET_ACTIVE=false
#BITBUCKET_CLIENT_ID=
#BITBUCKET_CLIENT_SECRET=
#BITBUCKET_REDIRECT=${APP_URL}/login/bitbucket/callback

GITHUB_ACTIVE=false
#GITHUB_CLIENT_ID=
#GITHUB_CLIENT_SECRET=
#GITHUB_REDIRECT=${APP_URL}/login/github/callback

GOOGLE_ACTIVE=true
GOOGLE_CLIENT_ID=21014327658-u4vcmf96g3h651vng0mt0e7b9lnhoc5t.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=9jNAmTBfu9hxKXklKZB9BKJY
GOOGLE_REDIRECT=${APP_URL}/login/google/callback

LINKEDIN_ACTIVE=false
#LINKEDIN_CLIENT_ID=
#LINKEDIN_CLIENT_SECRET=
#LINKEDIN_REDIRECT=${APP_URL}/login/linkedin/callback

TWITTER_ACTIVE=false
#TWITTER_CLIENT_ID=
#TWITTER_CLIENT_SECRET=
#TWITTER_REDIRECT=${APP_URL}/login/twitter/callback
