.report-fast {
	.card {
		background-color: $primary;
		border-radius: 0;
		color: #fff;
		.card-title {
			font-size: 20px;
			margin: 0 auto;
			padding-top: 20px;
		}
		img {
			width: 302px;
			margin: 0 auto;
			padding: 18px;
		}
		.card-body {
			/*text-align: center;*/
			a {
			padding: 10px 30px;
			color: #fff;
			font-size: 20px;
			display: block;
			margin: 0 auto;
		}
		}
	}
}

#sec1 {
	background-image: url("/img/frontend/sec1.png");
	background-size: cover;
	width: 100%;
	.div-text {
		padding: 150px 0;
		h1 {
			font-size: 48px;
			color: $secondary;
		}
		h2{
			color: $success;
		}
	}
}

