.report-fast {
	.card {
		background-color: $primary;
		border-radius: 0;
		color: #fff;
		.card-title {
			font-size: 20px;
			margin: 0 auto;
			padding-top: 20px;
		}
		img {
			width: 302px;
			margin: 0 auto;
			padding: 18px;
		}
		.card-body {
			/*text-align: center;*/
			a {
			padding: 10px 30px;
			color: #fff;
			font-size: 20px;
			display: block;
			margin: 0 auto;
		}
		}
	}
}

