#sec7 {
    padding: 50px;
	background-image: url("/img/frontend/sec2.png");
	background-size: cover;
	width: 100%;
	text-align: center;
	h1{
		font-family: "Mirza Semibold";
		font-size: 48px;
		text-align: center;
		color: #fff;
		margin-bottom: 50px;
	}
}