.how-to-help {
	.card {
		background-color: $primary;
		.card-body {
			color: #fff;
			#found-text {
				display: inline-block;
				float: right;
				.card-title {
					font-size: 18px;
					text-align: right;
				}
				.card-text {
					font-size: 14px;
					text-align: right;
					// text-align: right;
				}
			}
			#found-btn {
				padding-top: 5px;
				a {	clear: both;
					color: #fff;
					font-size: 16px;
					display: block;
					padding: 10px 0;
				}
			}
		}
	}
}

#sec2 {
	padding: 100px;
	background-image: url("/img/frontend/sec2.png");
	background-size: cover;
	width: 100%;
	text-align: center;
	h1{
		font-family: "Mirza Semibold";
		font-size: 48px;
		text-align: center;
		color: #fff;
		margin-bottom: 50px;
	}
	.card {
		border-radius: 0;
		background-color: #f3e6e1;
		margin-bottom: 40px;
		.card-img-top {
			width: 100%;
			height: 311px;
			background-size: cover;
			background-position: center center;
		}
		a{
			color: $success;
			text-decoration: none;
			font-family: "Mirza Semibold";
			text-align: center;
			p{
				font-size: 24px;
				// color: $success;
			}
		}
		a:hover {
			color: $primary;
		}
	}
}