html,body {
	height: 100%;
}

#wrap {
	min-height: calc(100vh - 260px);
	height: auto;
	// margin: 0 auto -200px;
	// padding: 0 0 200px;
}

footer {
    // position: fixed;
    // left: 0;
    // bottom: 0;
    // width: 100%;
    background-color: $info;
    padding: 50px 0;
    box-sizing: border-box;
    height: 200px;
    text-align: center;
    #footer-logo {
        width: 100px;
       
    }
    ul {
        text-align: right;
        font-size: 18px;
        padding-right: 0;
        font-family: "Mirza Semibold";
       li {
           margin-bottom: 15px;
            list-style-type: none;
            a {
                color: #fff;
            } 
            a:link {
                color: #fff;
            }
            // a:visited,a:hover,a:active{
            //     color: $secondary;
            // }
            a:hover {
                color: $primary;
                text-decoration: none;
            }
       }
    }
}