 .form-header{
    font-size: 20px !important;
}

.form-text{
    font-size: 16px !important;
}
.btnfSize{
    font-size: 20px !important;
}
.formStyle{
    border-radius:20px ; 
    box-shadow: 0px 0px 8px #888888;
}
.bckgroundImage{
    background-image: 
        url("/img/frontend/profileImage.png");
    height: 200px;
    background-size: cover;
    width: 100%;
}
.custInputfield input{
    display: none;
} 