.div-text{
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: right;
    color: #fff;
    h1 {
        font-family: "Mirza Semibold";
        font-size: 60px;
        margin-bottom: 25px;
    }
    h2{
        font-family: "Mirza Semibold";
        font-size: 30px;
        margin-bottom: 25px;
    }
}

.main-btn {
    color: #fff;
    font-size: 30px;
    font-family: "Mirza Semibold";
    padding: 0px 40px;
    border-radius: 0;
    box-shadow: 0 5px #d05a22;
    border: none;
}
