@font-face {
    font-family: "Mirza Bold";
    src: url("/fonts/Mirza-Bold.ttf");
}

@font-face {
    font-family: "Mirza Medium";
    src: url("/fonts/Mirza-Medium.ttf");
}

@font-face {
    font-family: "Mirza Regular";
    src: url("/fonts/Mirza-Regular.ttf");
}

@font-face {
    font-family: "Mirza Semibold";
    src: url("/fonts/Mirza-SemiBold.ttf");
}